.banner{
    background-color: darkslateblue;
    width :200 %;
    height:200px;
    margin-bottom:50px;

}

.banner-text{
    top:14%;
    left:45%;
    position:absolute;
    transform:transform;
}
